# Kconfig - nRF52 BLENANO 2 board configuration
#
# Copyright (c) 2016 Linaro Limited.
#
# SPDX-License-Identifier: Apache-2.0


config BOARD_NRF52832_QFAA
	bool "nRF52 NRF52832_QFAA"
	depends on SOC_NRF52832_QFAA
